<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pp_source_format.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <pp_source_format.Properties.Settings>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>java</value>
            </setting>
            <setting name="SelectedStyle" serializeAs="String">
                <value>default</value>
            </setting>
        </pp_source_format.Properties.Settings>
    </userSettings>
</configuration>